@using KI_25.Controllers
@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
    <div class="conteiner">
        <div class="row">
            <div class="col-md-4">
                @foreach(var product in ProductList.Products)
                {
                    <div class="card">
                        <img src="@product.ImageUrl" class="card-img-top" alt="Kawasaki" />
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            <p class="card-text">@product.Price</p>
                            <a href="/Products/Product/@product.Id"  class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
