@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
    <div class="conteiner">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="resources/Kawasaki.jpg" class="card-img-top" alt="Kawasaki"/>
                    <div class="card-body">
                        <h5 class="card-title">Kawasaki</h5>
                        <p class="card-text">Kawasaki</p>
                        <p class="card-text">1000$</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
