@model Product

<div class="bike_basket">
    <img class="bike_img_basket" src="@Model.Image" alt="bike1">
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    <p>@Model.Cost руб.</p>
    <button class="add_in_basket" href="#" role="button">Добавить в корзину</button>
</div>
